
h1{
    text-align: center;
    margin: 20px 0;
}
form{
    max-width: 100%;
    width: 800px;
    background-color: rgb(207, 203, 203);
    border-radius: 10px;
    padding: 50px;
    margin-top: 50px;
    margin: 0 auto;
}
input, textarea{
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 400px;
    border-style: none;
}
textarea{
    height: 250px;
}
input{
    padding: 20px 0;
}
.btn-primary{
    width: 30%;
    margin-bottom: 20px;
    margin-top: 20px;
}